[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll
	branch = MOODLE_400
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid
	branch = MOODLE_400
[submodule "course/format/tiles"]
	path = course/format/tiles
	url = https://bitbucket.org/dw8/moodle-format_tiles/branch/moodle40
[submodule "mod/turnitintooltwo"]
	path = mod/turnitintooltwo
	url = https://github.com/turnitin/moodle-mod_turnitintooltwo
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin
[submodule "theme/moove"]
	path = theme/moove
	url = https://github.com/willianmano/moodle-theme_moove
	branch = MOODLE_400_STABLE
[submodule "lib/editor/atto/plugins/kalturamedia"]
	path = lib/editor/atto/plugins/kalturamedia
	url = git@github.com:CityUniversityLondon/CUL-atto_kalturamedia.git
	branch = MOODLE_400_STABLE
[submodule "blocks/kalturamediagallery"]
	path = blocks/kalturamediagallery
	url = git@github.com:CityUniversityLondon/CUL-block_kalturamediagallery.git
	branch = MOODLE_400_STABLE
[submodule "filter/kaltura"]
	path = filter/kaltura
	url = git@github.com:CityUniversityLondon/CUL-filter_kaltura.git
	branch = MOODLE_400_STABLE
[submodule "local/kaltura"]
	path = local/kaltura
	url = git@github.com:CityUniversityLondon/CUL-local_kaltura.git
	branch = MOODLE_400_STABLE
[submodule "local/kalturamediagallery"]
	path = local/kalturamediagallery
	url = git@github.com:CityUniversityLondon/CUL-local_kalturamediagallery.git
	branch = MOODLE_400_STABLE
[submodule "local/mymedia"]
	path = local/mymedia
	url = git@github.com:CityUniversityLondon/CUL-local_mymedia.git
	branch = MOODLE_400_STABLE
[submodule "mod/kalvidassign"]
	path = mod/kalvidassign
	url = git@github.com:CityUniversityLondon/CUL-mod_kalvidassign.git
	branch = MOODLE_400_STABLE
[submodule "mod/kalvidres"]
	path = mod/kalvidres
	url = git@github.com:CityUniversityLondon/CUL-mod_kalvidres.git
	branch = MOODLE_400_STABLE
[submodule "lib/editor/tinymce/plugins/kalturamedia"]
	path = lib/editor/tinymce/plugins/kalturamedia
	url = git@github.com:CityUniversityLondon/CUL-tinymce_kalturamedia.git
	branch = MOODLE_400_STABLE
[submodule "local/culcourse_visibility"]
	path = local/culcourse_visibility
	url = git@github.com:amandadoughty/moodle-local_culcourse_visibility.git
[submodule "admin/tool/ally"]
	path = admin/tool/ally
	url = git@github.com:open-lms-open-source/moodle-tool_ally.git
	branch = MOODLE_400_STABLE
[submodule "filter/ally"]
	path = filter/ally
	url = git@github.com:open-lms-open-source/moodle-filter_ally.git
	branch = MOODLE_400_STABLE
[submodule "report/allylti"]
	path = report/allylti
	url = git@github.com:open-lms-open-source/moodle-report_allylti.git
	branch = MOODLE_400_STABLE
[submodule "mod/peerwork"]
	path = mod/peerwork
	url = git@github.com:amandadoughty/moodle-mod_peerwork.git
	branch = MOODLE_40_STABLE
