[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = https://github.com/turnitin/moodle-plagiarism_turnitin
[submodule "mod/turnitintooltwo"]
	path = mod/turnitintooltwo
	url = https://github.com/turnitin/moodle-mod_turnitintooltwo
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjb2048/moodle-format_grid
[submodule "course/format/tiles"]
	path = course/format/tiles
	url = https://bitbucket.org/dw8/moodle-format_tiles/branch/moodle40
